# Copy this file to .env and replace the credentials with 
# your own before running the project

# Netlify
# The available states: development - preproduction - production
NETLIFY_ENV='<add_netlify_env_state>'

# DATO CMS
DATO_TOKEN='<add_dato_token>'
